modules = ["web", "python-3.12", "nodejs-20"]
run = "python main.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python main.py"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run Production Server"

[[workflows.workflow]]
name = "Run"
author = 40138017
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Run Dev Server"
author = 40138017
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Run Production Server"
author = 40138017
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn -c gunicorn_config.py main:app"
